* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Happy Monkey', cursive;
  color: #FFF;
  font-size: 1.2rem;
  overflow: hidden; }

h1 {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem; }

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("/texture3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.main {
  background-color: #E94C6F;
  width: 100vw;
  height: 100vh; }

.featured-container {
  position: absolute;
  left: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  z-index: 20; }
  .featured-container.featured-container-slide {
    left: 0px; }
  .featured-container .featured-videos {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .featured-container .featured-trigger {
    height: 100vh;
    font-weight: bolder;
    display: flex;
    align-items: center; }
    .featured-container .featured-trigger p {
      position: relative;
      transform: rotate(-90deg);
      background-color: #ff1744;
      color: #FFF;
      padding: 10px 20px;
      transition: all 1s ease; }
      .featured-container .featured-trigger p:hover {
        background-color: #0B90AA;
        cursor: pointer;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.filters {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%); }

.form-container {
  position: absolute;
  right: 3%;
  bottom: 5%; }

input[type=url], select {
  width: 100%;
  height: 30px;
  display: block;
  font-family: 'Happy Monkey', cursive;
  font-size: 0.7em;
  color: #9068BE;
  border: none;
  margin: 15px 0;
  background: #FEDA6A; }
  input[type=url]:focus, select:focus {
    outline: none; }

input[type=url] {
  padding: 15px; }

.input-container {
  margin-top: 30px;
  text-align: right; }

.form-share {
  font-family: 'Happy Monkey', cursive;
  display: inline;
  background-color: #ff1744;
  font-size: 0.8rem;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: all 1s ease; }
  .form-share:hover {
    background-color: #0B90AA;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.form-trigger {
  background-color: #ff1744;
  color: #FFF;
  padding: 10px 20px;
  transition: all 1s ease; }
  .form-trigger:hover {
    background-color: #0B90AA;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.form-trigger:before {
  position: absolute;
  top: 50%;
  right: -100%;
  width: 0px;
  display: block;
  content: '';
  height: 3px;
  background: #FEDA6A;
  transition: width 0.5s ease; }

.form-trigger:hover:before {
  width: 100%; }

.featured-trigger p:before {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 0;
  display: block;
  content: '';
  background: #FEDA6A;
  transition: height 0.5s ease; }

.featured-trigger p:hover:before {
  height: 50px; }

.video-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 1s ease; }
  .video-filter img {
    width: 30px;
    height: 30px;
    margin: 10px; }
  .video-filter:hover {
    cursor: pointer;
    color: #FEDA6A; }

.video {
  position: absolute; }
  .video img {
    -webkit-clip-path: polygon(180px 100px, 298px 142px, 250px 100px, 300px 50px);
    transition: -webkit-clip-path 0.4s ease;
    max-width: 100%; }
    .video img:hover {
      cursor: pointer; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal {
  background-color: #FEDA6A !important;
  padding: 15px !important; }

h3 {
  background-color: #FEDA6A !important;
  color: #0B90AA !important;
  font-family: 'Happy Monkey', cursive !important;
  text-align: center !important; }

.heart {
  position: absolute;
  left: 30px;
  bottom: 30px; }
  .heart:hover {
    cursor: pointer; }

.heart img {
  height: 20px;
  width: 20px; }

/*# sourceMappingURL=styles.css.map */
